/** 
 *@title SelfAspNet / SampleAsp / NT03_ServerControl / ValidSample_Style.css
  @target ValidSample.aspx, CustomValidSample.aspx 
 *@content definition style for ErrorMessage or else.
 *@author shika
 *@date 2021-11-19
*/
body {
    background-color: mistyrose;
    font-family: 'MS Mincho';
    font-weight: bold;
}
.validSample {
    color: red;
    font-weight: bold;
}
.BtnSubmit {
    font-weight: bold;
    font-style: italic;
}

.asc {
    background: url(../../Image/asc.png) right no-repeat;
}

.desc {
    background: url(../../Image/desc.png) right no-repeat;
}

.asc a, desc a {
    padding: 10px;
}

